@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-White-bone;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Reemplaza 400 con el peso de fuente que desees */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container{
    margin-inline: auto;
    max-width: 120rem;
    width: 90%;
}

.inputs-register-login{
    background-repeat: no-repeat;
    background-position: left .3rem center;
    padding-left: 2rem;
}

.input-email{
    background-image: url("../images/icon-email.svg");
}
.input-password{
    background-image: url("../images/icon-password.svg");
}

.btn{
    height: 2.5rem;
    width: 100%;
    border-radius: .5rem;
    /* margin-top: 2rem */
}

.btn-secondary{
    @apply bg-white border border-primary text-primary;
}
.btn-primary{
    @apply bg-primary text-white;
}

.active{
    @apply bg-light-blue text-primary;
}

.svg{
    fill: #737373

}

.active svg{
    @apply fill-primary;
}

.fade-in-out {
    animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
